<div id="combine-content">
    <div id="combine-content-description" class="content-description-container">
        <div id="tool-summary">
            <div><div>Screen output</div><div>No</div></div>
            <div><div>Output file</div><div>Yes</div></div>
            <div><div>Database output</div><div>No</div></div>
            <div><div>Running time</div><div id="duration-long">Long</div></div>
        </div>
        <h3 class="content-h">Combine database statistics with a Graphical Analysis Data file</h3>
        <p class="content-p">
            Using this tool, you will be able to combine the data from the configured Access database with the output of the graphical analysis data program created
            by Jan-Willem (Neurophysiologist at the UMCG). The 'Patient ID' argument gets used for adding the patient identifier to the output file which contains the database data as well
            as the output of the graphical analysis data program. The output files will have the same name as the input file, but with the addition "_COMBINED".
            <br><br>Please select a file you wish to combine with the Access database statistics.
        </p>
    </div>
    <div id="combine-select-container">
        <button id="combine-select-btn" class="combine-file-select">Click to select</button>
        <div class="secondary-input-container">
            <label class="secondary-input-label" id="patient-input-label">Patient ID</label>
            <input type="number" class="secondary-input-field" id="patient-id-input" name="patient-id-input" placeholder="1">
            <label class="secondary-input-sublabel">for adding patient ID to the output file</label>
        </div>
        <button id="run-combine" class="eeg-trg-run-btn" disabled>RUN</button>
    </div>
</div>