<div id="compute-content">
    <div id="compute-content-description" class="content-description-container">
        <div id="tool-summary">
            <div><div>Screen output</div><div>No</div></div>
            <div><div>Output file</div><div>No</div></div>
            <div><div>Database output</div><div>Yes</div></div>
            <div><div>Running time</div><div id="duration-average">Average</div></div>
        </div>
        <h3 class="content-h">Compute the statistics of converted Eclipse files</h3>
        <p class="content-p">
            This tool will compute the statistics the user wishes to compute and store these in the configured database (can be changed in the settings).
            Determining which statistics will be calculated can be performed by selecting from the statistical options. For now, these are:
            'all', 'p_p_amplitude' and 'auc'. In the future there might be additional statistics that can be computed. <br>After clicking the run button
            you will have to fill out an experiment form. Once it is filled in correctly, windows containing the IONM signals will appear. In these, you
            can deselect signals or change up the ranges of which the statistics will get computed.<br><br>
            Please select one or more files you wish to compute the statistic of.
        </p>
    </div>
    <div id="compute-select-container">
        <button id="compute-select-btn" class="compute-file-select">Click to select</button>
        <div class="secondary-input-container">
            <label class="secondary-input-label" id="stats-input-label">Statistics</label>
            <select class="secondary-input-field" id="stats-input" name="stats-input">
                <!-- will be dynamically filled -->
            </select>
            <label class="secondary-input-sublabel">the statistics you wish to compute</label>
        </div>
        <button id="run-compute" class="eeg-trg-run-btn" disabled>RUN</button>
    </div>
</div>