<div id="extract-content">
    <div id="extract-content-description" class="content-description-container">
        <div id="tool-summary">
            <div><div>Screen output</div><div>No</div></div>
            <div><div>Output file</div><div>Yes</div></div>
            <div><div>Database output</div><div>No</div></div>
            <div><div>Running time</div><div id="duration-long">Long</div></div>
        </div>
        <h3 class="content-h">Create a file with evoked potentials along with its available EEG context</h3>
        <p class="content-p">
            Using this tool, you will be able to extract all evoked potentials along with its EEG data for which enough EEG data
            is available. Since the window size parameter isn't fully dynamic as it is for the 'show availability' tool, it has
            for now been hard-coded in the backend python script. So, currently it is set to a window size of 6 seconds around an
            evoked potential. The output file will have the same name as the input file, but with the addition "_EXTR_EEG".
            <br><br>Please select an EEG file as well as a TRG file.
        </p>
    </div>
    <div id="extract-select-container">
        <button id="e-eeg-select-btn" class="eeg-trg-btn">Click to select an EEG file</button>
        <button id="e-trg-select-btn" class="eeg-trg-btn">Click to select a TRG file</button>
        <!-- option can not be used because backend isn't dynamic enough to handle it -->
<!--        <div id="window-input-div">-->
<!--            <label id="window-input-label">Window Size</label>-->
<!--            <input type="number" class="window-size" id="window-size-extract" name="window-size-extract" min="1" max="10" placeholder="6">-->
<!--            <label id="window-input-sublabel">-w argument while using commandline</label>-->
<!--        </div>-->
        <button id="run-extract" class="eeg-trg-run-btn" disabled>RUN</button>
    </div>
</div>