<div id="tool-container">
    <div id="summarize-section">
                    <span class="tool-label" id="tool-label-summarize">
                        <span class="tool-label-name">DATA INSIGHT</span>
                    </span>
        <h3>File characteristics</h3>
        <p class="tool-description-p">General information of exported Eclipse files</p>
    </div>
    <div id="timing-section">
                    <span class="tool-label" id="tool-label-timing">
                        <span class="tool-label-name">DATA INSIGHT</span>
                    </span>
        <h3>Show measurements</h3>
        <p class="tool-description-p">Generate a plot which displays all labeled measurements the Eclipse file contains in chronological order.</p>
    </div>
    <div id="availability-section">
                    <span class="tool-label" id="tool-label-availability">
                        <span class="tool-label-name">DATA INSIGHT</span>
                    </span>
        <h3>Show TES-MEP and EEG</h3>
        <p class="tool-description-p">Generate a plot showing concurrent availability of a continuous modality and a triggered modality.</p>
    </div>
    <div id="convert-section">
                    <span class="tool-label" id="tool-label-convert">
                        <span class="tool-label-name">DATA PREPARATION</span>
                    </span>
        <h3>Convert File</h3>
        <p class="tool-description-p">Convert an exported Eclipse file into multiple custom files. One file per modality.</p>
    </div>
    <div id="compute-section">
                    <span class="tool-label" id="tool-label-compute">
                        <span class="tool-label-name">COMPUTE STATISTICS</span>
                    </span>
        <h3>Compute Statistics</h3>
        <p class="tool-description-p">Calculate the needed statistics for a given file. These statistics will be stored in a configured database.</p>
    </div>
    <div id="extract-section">
                    <span class="tool-label" id="tool-label-extract">
                        <span class="tool-label-name">DATA COLLECTION</span>
                    </span>
        <h3>Extract Data</h3>
        <p class="tool-description-p">Generate a separate file containing the evoked potentials accompanying its available EEG context.</p>
    </div>
    <div id="validate-section">
                    <span class="tool-label" id="tool-label-validate">
                        <span class="tool-label-name">DATA COLLECTION</span>
                    </span>
        <h3>Validate extracted file</h3>
        <p class="tool-description-p">Validate the signals of an extracted file by manually deselecting unwanted signals.</p>
    </div>
    <div id="combine-section">
                    <span class="tool-label" id="tool-label-combine">
                        <span class="tool-label-name">DATA COLLECTION</span>
                    </span>
        <h3>Combine</h3>
        <p class="tool-description-p">Combine statistical data from the Access database with the output of the graphical analysis data.</p>
    </div>
    <div id="classify-section">
                    <span class="tool-label" id="tool-label-classify">
                        <span class="tool-label-name">CLASSIFICATION</span>
                    </span>
        <h3>Classify</h3>
        <p class="tool-description-p">Classify signals of a file on the presence of F-waves using a prebuild classifier.</p>
        <span class="tool-in-dev"><i class="fas fa-exclamation-triangle"></i></span>
    </div>
    <div id="placeholder1-section">
        <h4 id="placeholder1-title"></h4>
    </div>
    <div id="placeholder2-section">
        <h4 id="placeholder2-title"></h4>
    </div>
    <div id="settings-section">
        <span id="settings-icon"><i class="fas fa-cog"></i></span>
        <h4>Settings</h4>
        <p class="tool-description-p">Configure this application its settings, as well as some settings that related to the python project.</p>
    </div>
</div>