<div id="settings-content">
    <div id="set-python-src-dir" class="small-tool">
        <h4>Set python src directory</h4>
        <p id="src-dir-path-p">
            This entire GUI relies on Johan Schneiders and Menno Gerbens their Pyhton Project (see the about section).
            If this path is not correctly configured, none of the tools will work. Make sure you select the right path.<br>
            <span class="important-span">NOTE: </span>After configuring this once, the path will be saved in in your user-preferences. Don't worry, you can change this as often as you want.
        </p>
        <p id="src-dir-path"></p>
        <button class="settings-button" id="select-src-dir">SELECT</button>
        <button class="settings-button" id="set-src-dir" disabled>SET SRC DIRECTORY</button>
    </div>
    <div id="default-select-dir" class="small-tool">
        <h4>Set default select directory</h4>
        <p id="set-default-select-dir-p">
            For your convenience you're able to select the default path the file / directory select
            window opens in. The currently configured default select path is displayed within the white box. Select
            and set the default select path to your liking.
        </p>
        <p id="default-select-dir-path"></p>
        <button class="settings-button" id="select-default-dir">SELECT</button>
        <button class="settings-button" id="set-default-select-dir" disabled>SET DEFAULT SELECT PATH</button>
    </div>
    <div id="small-tools">
        <div id="set-database-path" class="small-tool">
            <h4>Set database</h4>
            <p class="database-path-p">
                The currently configured database is displayed within the white box. Select and
                set the the database you wish to work with.
            </p>
            <p id="new-database-path" class="database-path">Retrieving ...</p>
            <button class="settings-button" id="select-database-btn">SELECT</button>
            <button class="settings-button" id="set-database" disabled>SET DATABASE</button>
        </div>
        <div id="configure-database" class="small-tool">
            <h4>Setup a new database</h4>
            <p class="database-path-p">
                ONLY FOR NEW AND EMPTY DATABASES! The currently set database path is displayed within
                the white box. Click on the button to setup the database.<br>
                <span class="important-span">NOTE:</span>&nbsp;Be very thoughtful when using this
                tool. If you (mistakenly) setup a database which is already in use and potentially
                full of data, you <span class="important-span">will</span> delete all of its content
                or corrupt the database.
            </p>
            <p class="database-path">Retrieving ...</p>
            <button class="settings-button" id="setup-database">SETUP DATABASE</button>
        </div>
    </div>
    <div id="set-modalities">
        <h4>Configure the modalities</h4>
        <p id="set-modalities-p">
            The currently in the active database configured modalities are displayed in the table.
            Add modalities to your liking.<br>
            <span class="important-span">NOTE:</span>&nbsp;Be very accurate when you fill out the
            new modalities, do not make any spelling mistakes!
        </p>
        <table id="modalities-table">
            <tr id="modalities-table-hrow">
                <th>Retrieving ...</th>
            </tr>
        </table>
        <button class="settings-button" id="add-new-modality">ADD MODALITY</button>
        <button class="settings-button" id="hide-modality-form">HIDE FORM</button>
    </div>
    <!-- add new modality form-->
    <div class="small-tool" id="add-modality">
        <input id="modality-input" type="text" placeholder="MODALITY" required>
        <input id="description-input" type="text" placeholder="DESCRIPTION (Optional)">
        <div class="radio-container" id="type-radios">
            <label class="radio">
                <input type="radio" id="triggered" name="type" value="TRIGGERED" checked="checked">
                <span>TRIGGERED</span>
            </label>
            <label class="radio">
                <input type="radio" id="free-running" name="type" value="FREE_RUNNING">
                <span>FREE-RUNNING</span>
            </label>
        </div>
        <div class="radio-container" id="strategy-radios">
            <label class="radio">
                <input type="radio" id="direct" name="strategy" value="DIRECT" checked="checked">
                <span>DIRECT</span>
            </label>
            <label class="radio">
                <input type="radio" id="average" name="strategy" value="AVERAGE">
                <span>AVERAGE</span>
            </label>
        </div>
        <button class="settings-button" id="submit-new-modality" disabled>SUBMIT</button>
    </div>
    <div id="trace-selection-settings">
        <h4>Trace selection settings</h4>
        <p id="trace-selection-settings-p">
            Settings that alter the user's trace selection experience. The currently configured settings are being
            displayed in the input fields. Alter these and hit the submit button to update the values.
            <span class="important-span">For now, only the chunk size setting has been implemented.</span>
        </p>
        <div id="chunk-size-setting">
            <label for="chunk-size" id="chunk-size-label">Chunk Size</label>
            <label for="chunk-size" id="chunk-size-sublabel">The amount of signals you see at once in a selection window</label>
            <input type="number" id="chunk-size" name="chunk-size" min="50" max="800">
        </div>
        <button class="settings-button" id="set-trace-selection-settings">SUBMIT SETTINGS</button>
    </div>
</div>