<div id="summarize-content">
    <div id="summarize-content-description" class="content-description-container">
        <h3 class="content-h">Obtain a summary of the selected file(s) its contents</h3>
        <p class="content-p">
            Using this functionality you're able to retrieve some basic information about the Eclipse file(s)
            you select. The information in this summary contains for example: path to the file, file size, file name, date of measuring, duration of measurement and the types of modalities.
            <br><br>Please select the CSV file(s) you wish to summarize.
        </p>
    </div>
    <div id="file-upload-container">
        <button id="file-selectBtn" class="csv-select-btn">Click to select</button>
        <div id="selected-filename-container">
            <p id="selected-filenames">No files selected</p>
            <button class="run-button" id="run-summarize" disabled>RUN</button>
        </div>
    </div>
</div>