<div id="timing-content">
    <div id="timing-content-description" class="content-description-container">
        <h3 class="content-h">Generate a plot of all measurements that an Eclipse file contains</h3>
        <p class="content-p">
            Using the summarize tool you're able to plot all timestamps present in an Eclipse file. In the plot
            the timestamps of measurements are plotted as a function of the position in file. Because of that, this tool
            is useful to get insight into which measurements (including the modality type of the measurement) were made at which time.
            <br><br>Please select one or more files to generate a plot form.
        </p>
    </div>
    <div id="file-upload-container">
        <button id="file-selectBtn" class="csv-select-btn">Click to select</button>
        <div id="selected-filename-container">
            <p id="selected-filenames">No files selected</p>
            <button class="run-button" id="run-timing" disabled>RUN</button>
        </div>
    </div>
</div>