* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: Ubuntu-regular;
}
body {
    background: #757575;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    z-index: 100;
    position: fixed;
    height: 20px;
    width: 100%;
    background: rgb(132,132,132);
    font-size: 12px;
    bottom: 0;
    overflow: hidden;
    color: white;
    opacity: 0.8;
}

footer span {
    float: left;
    padding: 1px 0 1px 8px;
}

.window-title {
    letter-spacing: 2.5px;
    font-weight: 600;
}

#variable-content {
    margin-top: 38px;
    position: absolute;
    padding: 10px 20px 20px 20px;
    overflow-y: visible;
}

#welcome-text {
    letter-spacing: 1.5px;
    margin: 0 0 12px 0;
    width: auto;
    height: auto;
    font-weight: 500;
    font-size: 20px;
    color: white;
}


.csv-select-btn {
    height: 100%;
    background: #ff8c00cf;
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
    width: 40%;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
    color: white;
    border-radius: 4px 0 0 4px;
    border: 0;
    outline: 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow-y: auto;
}

#convert-content, #timing-content, #summarize-content, #settings-content {
    margin-top: 8px;
}

.content-description-container {
    padding: 12px 20px 20px 20px;
    background: #404040;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

#file-upload-container {
    /* border-radius: 4px; */
    /* border: 4px solid #cdcdcd; */
    margin-top: 15px;
    width: 100%;
    height: 140px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.24);
}

#selected-filename-container {
    border-radius: 0 4px 4px 0;
    overflow: scroll;
    background: #404040;
    float: right;
    transition: all 0.2s ease-out;
    position: relative;
    width: 60%;
    height: 100%;
}

#selected-filenames {
    width: fit-content;
    position: absolute;
    transform: translate(-50%, -50%);
    letter-spacing: 1.5px;
    color: white;
    left: 50%;
    top: 50%;
}


#summarize-content-p, #timing-content-p, #convert-content-p {
    font-weight: 400;
    width: 100%;
    letter-spacing: 1px;
}


#summarize-content-h, #timing-content-h, #convert-content-h {
    margin: 0 0 10px 0;
    text-align: left;
    color: darkorange;
    font-weight: 500;
    letter-spacing: 1px;
}

.example::-webkit-scrollbar {
    display: none;
}

.csv-select-btn:hover {
    /*transform: translateY(-3px);*/
    width: 41.5%;
}

.csv-select-btn:hover + #selected-filename-container{
    /*transform: translateY(-3px);*/
    width: 58.5%;
}

/* taskbar section (secondary menu) */
#taskbar {
    z-index: 100;
    letter-spacing: 1.5px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    position: fixed;
    width: 100%;
    background: #404040;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.taskbar-div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
    width: auto;
    padding: 0 15px 0 15px;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.taskbar-div label {
    cursor: pointer;
}

.taskbar-div:hover {
    background: #757575;
}


/* active menu button specific styling */
.active {
    /*color: #FF7D00;*/
}

#about-section {
    box-shadow: none;
    float: right;
}

#classify-section {
    box-shadow: none;
}

.titlebar {
    cursor: pointer;
}

.version-info {
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
}

#umcg-logo {
    height: 100px;
}

#umcg-logo-div {
    position: fixed;
    width: 100%;
    bottom: 15px;
}

.version-first-cell {
    padding: 0 20px 10px 0;
}

.version-second-cell {
    padding: 0 0 10px 0;
}

.summarize-table td {
    padding: 0 15px 5px 0;
    font-weight: 600;
}

th {
    font-size: 16px;
}

#about-app, #about-scripts {
    margin: 10px 5px 0 0;
    display: inline-block;
    height: auto;
    min-width: 505px;
    width: calc(50% - 10px);
    background: #404040;
    padding: 15px 25px;
    color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 4px;
}

#about-app {
    float: left;
}

#about-scripts {
    float: right;
}

#about-app h1, #about-scripts h1 {
    font-weight: 600;
    border-bottom: 1px solid white;
    letter-spacing: 1.5px;
    margin: 0 0 10px 0;
    color: darkorange;
    text-align: left;
    font-size: 16px;
    height: 40px;
}

h1 i {
    margin: 5px 0 0 0;
    float: right;
}

.dev-message {
    color: white;
}

.fa-tv{
    font-size: 1.2em;
}

.fa-cogs{
    font-size: 1.3em;
}

#summarize-results {
    margin: 10px 0 0 0;
    color: white;
    position: relative;
    text-align: left;
    /*height: 100%;*/
    width: fit-content;
}

.summarize-table {
    display: inline-grid;
    background: #404040;
    padding: 10px 0 10px 10px;
    margin: 0 10px 14px 0;
    color: white;
    letter-spacing: 1px;
}

.table-item {
    width: 200px;
}

.table-file-name {
    margin: 0 0 5px 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: darkorange;
}

#summarize-results td {
    font-size: 14px;
}

#summarize-result-title {
    width: fit-content;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.run-button {
    cursor: pointer;
    position: absolute;
    letter-spacing: 1.5px;
    float: right;
    width: 100px;
    background-color: #ff8c00cf;
    height: 50px;
    opacity: 0;
    color: white;
    outline: none;
    right: -100px;
    bottom: 0;
    border: 0;
    transition: all 400ms ease-out;
}

#copyright {
    float: right;
    padding: 1px 8px 1px 0;
}

#tool-container div {
    position: relative;
    background: #dedede;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1.5px;
    color: rgb(112, 112, 112);
    border-radius: 2px;
    padding: 10px;
    width: calc(50% - 10px);
    height: 150px;
    display: inline-table;
    border: 4px solid #dedede;
    margin: 0 0 20px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#tool-container div h3 {
    margin: 8px 10px 0 10px;
}

#tool-container div:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#settings-icon {
    font-size: 22px;
    font-weight: 500;
    position: absolute;
    right: 4px;
    top: 2px;
    color: rgb(112,112,112);
}

.tool-finished {
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    right: 6px;
    top: 2px;
    color: forestgreen;
}

.tool-in-dev {
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    right: 6px;
    top: 2px;
    color: #9F6000;
}

.tool-number {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 5px;
    top: 0;
    color: rgb(112,112,112);
}


#timing-section, #convert-section, #evc-section, #settings-section {
    float: right;
}

.python-command-p {
    margin: 4px 4px 10px 4px;
    position: absolute;
    font-size: 12px;
    bottom: 0;
    font-weight: 500;
}

.settings-button {
    margin-top: 14px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    bottom: 0;
    padding: 20px;
    border-radius: 2px;
    background-color: #ff8c00cf;
    border: 0;
    color: white;
    outline: none;
    transition: all 400ms ease-out;
}

#database-settings-inner {
    justify-content: center;
    position: relative;
    height: 460px;
    width: 100%;
    display: flex;
    align-items: center;
}

.small-tool, #set-modalities {
    border-radius: 4px;
    padding: 20px;
    position: relative;
    background: #404040;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

#set-modalities {
    transition: all 0.2s ease-out;
    max-width: calc(60% - 10px);
    float: right;
}

#configure-database {
    margin: 20px 0 0 0;
}

#small-tools {
    position: relative;
    width: calc(40% - 10px);
    float: left;
}

#modalities-table {
    margin: 15px 0 0 0;
    width: 100%;
    border-spacing: 0;
}

#modalities-table td {
    letter-spacing: 1.5px;
    padding: 7px 5px 8px 10px;
}

#modalities-table th {
    border: 0;
    color: #404040;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 5px 8px 10px;
    letter-spacing: 1.5px;
}

#modalities-table-hrow {
    background: white;
}

#modalities-table tr:nth-child(odd) td {
    background: #4e4e4e;
}

.small-tool h4, #set-modalities h4 {
    color: darkorange;
    text-align: left;
    font-size: 18px;
    margin: -10px 0 5px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.database-path, input[type='text'] {
    font-size: 15px;
    overflow-y: auto;
    display: block;
    border-radius: 2px;
    padding: 15px;
    min-height: 50px;
    background: white;
    color: #404040;
    font-weight: 500;
    letter-spacing: 1px;
    height: fit-content;
    min-width: 350px;
    text-align: center;
}

#database-path-p, #set-modalities-p {
    text-align: left;
    font-size: 16px;
    margin: 0 0 8px 0;
    font-weight: 400;
    letter-spacing: 1px;
}

#set-database {
    float: right;
    cursor: auto;
    background: #ccc;
    color: #404040;
}

#add-modality {
    opacity: 0;
    width: calc(60% - 10px);
    float: right;
    height: auto;
    margin: -130px 0 0 0;
    z-index: -5;
}

/* preloader */
.lds-ellipsis {
    top: 55px;
    right: 15px;
    width: 80px;
    height: 80px;
    position: fixed;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #cdcdcd;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* toast notifications */
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    position: absolute;
    right: -455px;
    top: 35px;
    z-index: 100;
    opacity: 0;
    font-size: 16px;
    font-weight: 600;
    color: black;
    width: auto;
    max-width: 530px;
    height: auto;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

/*
info / error / succes msg icons
<i class="fas fa-info-circle"></i>
<i class="fas fa-check"></i>
<i class="fas fa-times-circle"></i>
*/

.important-span {
    font-weight: 800;
    color: darkorange;
}

/* radio buttons */
label.radio {
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
}
label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}
label.radio span {
    padding: 10px 14px;
    border: 3px solid #EEE;
    display: inline-block;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
}
label.radio input:checked + span {
    background: #56565663;
    border-color: darkorange;
    color: darkorange;
}

.radio-container {
    margin: 0 21px 0 0;
    border-radius: 4px;
    display: inline-block;
}

#modality-input, #description-input {
    min-width: auto;
    padding: 5px;
    border: 0;
    margin: 0 0 10px;
    display: inline;
    font-weight: 600;
}

#description-input {
    width: 70%;
    margin: 0 0 0 5px;
}

#modality-input {
    width: calc(30% - 10px);
}

#submit-new-modality {
    padding: 16px;
    margin: 0;
    background: #ccc;
    color: #404040;
    cursor: auto;
    float: right;
    display: inline-block;
}

#hide-modality-form {
    float: right;
    display: none;
}

