* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background: #757575;
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

footer {
    z-index: 100;
    position: fixed;
    height: 20px;
    width: 100%;
    background: rgb(132,132,132);
    font-size: 12px;
    bottom: 0;
    overflow: hidden;
    color: white;
    opacity: 0.8;
}

footer span {
    float: left;
    padding: 1px 0 1px 8px;
}

/* custom electron title-bar title */
.window-title {
    letter-spacing: 2.5px;
    font-weight: 600;
}

#variable-content {
    min-width: 100%;
    margin-top: 53px;
    position: fixed;
    padding: 0 16px 20px 16px;
    overflow-y: visible;
}

.csv-select-btn, #validate-select-btn,
#classify-select-btn {
    height: 100%;
    background: #e87e04;
    line-height: 22px;
    font-weight: 500;
    font-size: 16px;
    width: 40%;
    position: relative;
    letter-spacing: 2px;
    overflow: hidden;
    color: white;
    border-radius: 4px 0 0 4px;
    border: 0;
    outline: 0;
    transition: all 0.2s ease-out;
    cursor: pointer;
    overflow-y: auto;
}

#convert-content, #compute-content,
#timing-content, #summarize-content,
#settings-content, #convert-results,
#availability-content, #extract-content,
#summarize-results, #validate-content,
#classify-content, #combine-content {
    margin: 10px 0 0 0;
}

.external-window-instruction {
    border-radius: 4px;
    left: 50%;
    transform: translate(-50%, 55px);
    padding: 20px;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: white;
    background: #404040;
    text-align: center;
    width: fit-content;
    position: absolute;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.content-description-container {
    padding: 12px 20px 20px 20px;
    background: #404040;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

#file-upload-container {
    margin-top: 15px;
    width: 100%;
    height: 140px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.24);
}

#selected-filename-container {
    border-radius: 0 4px 4px 0;
    background: #404040;
    float: right;
    transition: all 0.2s ease-out;
    position: relative;
    width: 60%;
    height: 100%;
}

#selected-filenames {
    max-height: 126px;
    overflow: scroll;
    width: fit-content;
    letter-spacing: 1.5px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}


.content-p {
    font-weight: 400;
    width: 100%;
    letter-spacing: 1px;
}


.content-h {
    margin: 0 0 10px 0;
    text-align: left;
    color: #f89406;
    font-weight: 500;
    letter-spacing: 1px;
}

.example::-webkit-scrollbar {
    display: none;
}

.csv-select-btn:hover, #validate-select-btn:hover,
#classify-select-btn:hover {
    /*transform: translateY(-3px);*/
    width: 41.5%;
}

.csv-select-btn:hover + #selected-filename-container,
#validate-select-btn:hover + #selected-filename-container,
#classify-select-btn:hover + #selected-filename-container {
    /*transform: translateY(-3px);*/
    width: 58.5%;
}

/* taskbar section (secondary menu) */
#taskbar {
    z-index: 100;
    letter-spacing: 1.5px;
    height: 38px;
    font-size: 15px;
    font-weight: 600;
    position: fixed;
    width: 100%;
    background: #404040;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.taskbar-div {
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: auto;
    padding: 0 15px 0 15px;
    height: 86%;
    position: relative;
    box-sizing: border-box;
}

.taskbar-div label {
    cursor: pointer;
}

.taskbar-div:hover {
    color: #f89406;
}

#about-section {
    box-shadow: none;
}

#classify-section {
    box-shadow: none;
}

.titlebar {
    cursor: pointer;
}

.version-info {
    text-align: left;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
}

#umcg-logo {
    height: 100px;
}

#umcg-logo-div {
    position: fixed;
    width: 100%;
    bottom: 15px;
}

.version-first-cell {
    padding: 0 20px 10px 0;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.version-second-cell {
    padding: 0 0 10px 0;
}

.summarize-table td {
    padding: 0 15px 5px 0;
    font-weight: 600;
}

th {
    font-size: 16px;
}

#about-app, #about-scripts {
    display: inline-block;
    height: auto;
    min-width: 505px;
    width: calc(50% - 10px);
    background: #404040;
    padding: 15px 25px;
    color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    border-radius: 4px;
}

#about-app {
    float: left;
}

#about-scripts {
    float: right;
}

#about-app h1, #about-scripts h1 {
    font-weight: 600;
    letter-spacing: 1.5px;
    color: #f89406;
    text-align: left;
    font-size: 16px;
    height: 40px;
}

h1 i {
    margin: 5px 0 0 0;
    float: right;
}

.dev-message {
    color: white;
}

.fa-tv {
    font-size: 1.2em;
}

.fa-cogs {
    font-size: 1.3em;
}

#summarize-results {
    width: 100%;
    color: white;
    position: relative;
    text-align: left;
    display: block;
}

.summarize-table {
    display: inline-grid;
    background: #404040;
    padding: 8px 0 8px 12px;
    color: white;
    letter-spacing: 1px;
    border-radius: 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 6px rgba(0,0,0,0.24)
}

.table-item {
    width: 200px;
}

.table-file-name {
    margin: 0 0 5px 0;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #f89406;
}

#summarize-results td {
    font-size: 14px;
}

#summarize-result-title, #convert-result-title {
    width: fit-content;
    color: white;
    font-weight: 400;
    font-size: 20px;
    margin: 0;
}

.run-button {
    cursor: pointer;
    position: absolute;
    letter-spacing: 1.5px;
    float: right;
    width: 100px;
    background-color: #e87e04;
    height: 50px;
    opacity: 0;
    color: white;
    outline: none;
    right: -100px;
    bottom: 0;
    border: 0;
    transition: all 400ms ease;
}

#copyright {
    float: right;
    padding: 1px 8px 1px 0;
}

#tool-container {
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

#tool-container div {
    position: relative;
    background: #dedede;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1.5px;
    color: rgb(112, 112, 112);
    border-radius: 2px;
    padding: 10px;
    width: calc(33% - 8px);
    height: 20vh;
    display: inline-table;
    border: 4px solid #dedede;
    margin: 0 0 16px 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#tool-container div h3 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 17px 10px 0 10px;
}

#tool-container div:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#placeholder1-section:hover, #placeholder2-section:hover {
    box-shadow: unset;
    transform: unset;
    cursor: auto;
}

#placeholder1-title,
#placeholder2-title {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

#settings-icon {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    right: 4px;
    top: 2px;
    color: rgb(112,112,112);
}

.tool-in-dev {
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    right: 3px;
    top: 0;
    color: #9F6000;
}

.tool-number {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    left: 5px;
    top: 0;
    color: rgb(112,112,112);
}


#timing-section, #convert-section, #extract-section, #combine-section, #settings-section {
    float: right;
}

#settings-section h4 {
    text-transform: uppercase;
    font-size: 17px;
    margin: 13px 10px 0 10px;
}

.python-command-p {
    width: 100%;
    margin: 0 0 10px 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-size: 12px;
    bottom: 0;
    font-weight: 500;
}

.settings-button {
    margin-top: 14px;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 2px;
    bottom: 0;
    padding: 20px;
    border-radius: 2px;
    background-color: #e87e04;
    border: 0;
    color: white;
    outline: none;
    transition: all 400ms ease-out;
}

#set-trace-selection-settings {
    margin: 20px 0 0 0;
    float: right;
    clear: both;
}

#database-settings-inner {
    justify-content: center;
    position: relative;
    height: 460px;
    width: 100%;
    display: flex;
    align-items: center;
}

.small-tool,
#set-modalities,
#trace-selection-settings {
    border-radius: 4px;
    padding: 20px;
    position: relative;
    background: #404040;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

#set-modalities,
#trace-selection-settings,
#default-select-dir {
    transition: all 0.2s ease-out;
    width: calc(58% - 10px);
    float: right;
}

#configure-database,
#small-tools,
#set-modalities {
    margin: 20px 0 0 0;
}

#trace-selection-settings {
    margin: 20px 0 15px 0;
}

#set-python-src-dir {
    float: left;
    width: calc(57% - 10px);
}

#default-select-dir {
    width: calc(43% - 10px);
}

#small-tools {
    display: block;
    float: left;
    padding: 0 0 15px 0;
    position: relative;
    width: calc(42% - 10px);
    clear: both;
}

#modalities-table {
    margin: 15px 0 0 0;
    width: 100%;
    border-spacing: 0;
}

#modalities-table td {
    letter-spacing: 1.5px;
    padding: 7px 5px 8px 10px;
}

#modalities-table th {
    border: 0;
    color: #404040;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    padding: 7px 5px 8px 10px;
    letter-spacing: 1.5px;
}

#modalities-table-hrow {
    background: white;
}

#modalities-table tr:nth-child(odd) td {
    background: #4e4e4e;
}

.small-tool h4,
#set-modalities h4,
#trace-selection-settings h4 {
    color: #f89406;
    text-align: center;
    font-size: 18px;
    margin: -10px 0 5px 0;
    font-weight: 500;
    letter-spacing: 1px;
}

#chunk-size-setting {
    background: #4e4e4e;
    border: 4px solid #ccc;
    padding: 20px 20px 35px 20px;
    margin: 15px 0 0 0;
    vertical-align: middle;
    width: 100%;
    border-radius: 4px;
}

#chunk-size-label {
    display: block;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 600;
    margin: 0;
}

.database-path,
#src-dir-path,
#modality-input,
#description-input,
#default-select-dir-path {
    margin: 12px 0 0 0;
    font-size: 15px;
    overflow-y: auto;
    display: block;
    border-radius: 2px;
    padding: 15px;
    min-height: 50px;
    background: white;
    color: #404040;
    font-weight: 500;
    letter-spacing: 1px;
    height: fit-content;
    min-width: 350px;
    text-align: center;
}

.database-path-p,
#set-modalities-p,
#src-dir-path-p,
#set-default-select-dir-p,
#trace-selection-settings-p {
    text-align: left;
    font-size: 16px;
    margin: 0 0 8px 0;
    font-weight: 400;
    letter-spacing: 1px;
}

#set-database,
#set-src-dir,
#set-default-select-dir {
    float: right;
    cursor: auto;
    background: #ccc;
    color: #404040;
}

#add-modality {
    opacity: 0;
    width: calc(58% - 10px);
    float: right;
    height: auto;
    margin: -270px 0 0 0;
    z-index: -5;
}

/* add modality AFTER convert */
.add-modality-after-convert {
    background: #404040;
    position: relative;
    display: inline-block;
    width: calc(50% - 16px);
    border-radius: 4px;
    margin: 16px 0 0 0;
    padding: 18px;
    float: left;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

.add-modality-after-convert:nth-child(odd) {
    float: right;
}

.summarize-table:nth-child(even) {
    margin: 0 0 16px 4px;
    float: right;
}

.summarize-table:nth-child(odd) {
    float: left;
    margin: 0 0 16px 0;
}

.add-modality-after-convert h1, .failed-convert-form h1 {
    font-weight: 600;
    letter-spacing: 1.5px;
    color: white;
    text-align: left;
    font-size: 16px;
    height: 40px;
}

.add-modality-btn-container div {
    width: 40%;
    margin: 0;
}

.add-modality-btn-container {
    margin: 8px 0 0 0;
    display: block;
    justify-content: space-evenly;
}

.failed-convert-form {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    border: 6px solid #404040;
    background: #565656;
    border-radius: 4px;
}

.failed-convert-form h1 {
    padding: 8px 20px;
    font-size: 18px;
}

#add-modality-form-div {
    width: 100%;
    position: relative;
    height: fit-content;
}

.linePreloader {
    display: none;
    z-index: 1000;
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,#e87e04,#e87e04);
    background-color: #ccc;
    position: fixed;
    top: 65px;
    right: 0;
    background-size: 20%;
    background-repeat: repeat-y;
    background-position: -25% 0;
    animation: scroll 1.2s ease-in-out infinite;
}

@keyframes scroll{
    50%{background-size:80%}
    100%{background-position:125% 0;}
}

/* toast notifications */
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
    text-align: center;
    position: fixed;
    right: -455px;
    top: 27px;
    z-index: 1001;
    opacity: 0;
    font-size: 16px;
    font-weight: 600;
    cursor:pointer;
    color: black;
    width: auto;
    max-width: 560px;
    height: auto;
    margin: 10px 0;
    padding: 6px 10px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

#remove-notifications {
    position: fixed;
    z-index: 2100;
    right: 10px;
    bottom: 10px;
    letter-spacing: 1px;
    display: none;
    opacity: 0;
    font-size: 13px;
    border-radius: 3px;
    padding: 8px 10px;
    cursor: pointer;
    color: white;
    background-color: #404040;
    font-weight: 600;
    box-shadow: 0 0 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.info-msg p,
.success-msg p,
.warning-msg p,
.error-msg p {
    display: inline-block;
}

.info-msg i,
.success-msg i,
.warning-msg i,
.error-msg i {
    float: left;
    margin: 3px 0 0 0;
}

#close-toast {
    opacity: 0;
    transition: all 0.2s ease-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#extra-info-icon {
    background: #BEF;
    right: 10px;
    transition: all 0.2s ease-out;
    display: none;
    position: absolute;
    color: #0097e6;
    border-radius: 15px;
}

#toast-message {
    transition: all 0.2s ease-out;
}

.info-msg {
    color: #059;
    background-color: #BEF;
}
.success-msg {
    color: #270;
    background-color: #DFF2BF;
}
.warning-msg {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error-msg {
    color: #D8000C;
    background-color: #FFBABA;
}

.important-span {
    font-weight: 700;
    color: #f89406;
}

#mandatory-settings {
    width: max-content;
    margin-top: 7px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* radio buttons */
label.radio {
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none;
}

label.radio span {
    margin: 0 0 6px 0;
    padding: 10px 14px;
    border: 3px solid #EEE;
    display: block;
    color: white;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
}

label.radio input:checked + span {
    background: rgba(80, 80, 80, 0.39);
    border-color: #e87e04;
    color: #e87e04;
}

.radio-container {
    border-radius: 4px;
    display: inline-block;
}

#modality-input, #description-input {
    min-width: auto;
    padding: 5px;
    border: 0;
    margin: 0 0 10px;
    display: inline;
    font-weight: 600;
}

#description-input {
    width: 100%;
}

#modality-input {
    width: 100%;
}

#submit-new-modality {
    left: 50%;
    position: absolute;
    padding: 16px;
    margin: 0 0 26px 0;
    background: #ccc;
    color: #404040;
    cursor: auto;
    display: inline-block;
    transform: translateX(-50%);
}

#failed-converts-actions {
    clear: left;
}

#submit-all-modalities {
    float: left;
    padding: 16px;
    margin: 16px 0;
    background: #ccc;
    color: #404040;
    cursor: auto;
    display: block;
}

#rerun-failed-converts {
    float: right;
    padding: 16px;
    margin: 16px 0;
    background: #cccccc;
    color: #404040;
    cursor: auto;
    display: block;
}

#hide-modality-form {
    float: right;
    display: none;
}

#failed-converts, #succeeded-converts, #succeeded-computes {
    font-weight: 600;
    width: fit-content;
    background: #404040;
    border-radius: 4px;
    padding: 10px 15px 10px 15px;
    letter-spacing: 1.5px;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}

#failed-converts h1, #succeeded-converts h1, #succeeded-computes h2  {
    text-align: left;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #f89406;
    margin: 0 0 5px;
}

#failed-converts h1 i , #succeeded-converts h1 i, #succeeded-computes h2 i {
    margin: 2px -4px 0 0;
    float: right;
}

#succeeded-computes {
    margin: 0;
}

#succeeded-computes td {
    padding: 0 30px 0 0;
    word-break: break-word;
}

#failed-converts h1 i {
    color: #d8222c;
}

#succeeded-converts h1 i,
#succeeded-computes h2 i{
    color: #270;
}

#failed-converts tr, #failed-converts-p, #succeeded-converts tr, #succeeded-converts-p, #succeeded-computes tr {
    margin: 10px 0 0 0;
}

#failed-converts-p, #succeeded-converts-p, #succeeded-computes-p {
    color: #f89406;
}

#succeeded-computes-p {
    margin: 5px 0 0 0;
}

#failed-converts td, #succeeded-converts td {
    padding: 0 30px 10px 0;
}

#strategy-radios {
    float: right;
}

/* availability */
#availability-select-container,
#extract-select-container,
#compute-select-container,
#combine-select-container {
    width: 100%;
    height: 125px;
    margin-top: 17px;
}

.eeg-trg-btn:hover {
    transform: translateY(-2px);
}

.eeg-trg-btn {
    transition: all 0.2s ease-out;
    display: block;
    float: left;
    outline: 0;
    height: calc(50% - 5px);
    letter-spacing: 2px;
    color: white;
    background: #e87e04;
    border: 0;
    cursor: pointer;
    margin: 0 12px 0 0;
    border-radius: 4px;
    font-size: 16px;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
}

#e-trg-select-btn, #e-eeg-select-btn {
    width: calc(80% - 5px);
}

#a-trg-select-btn, #a-eeg-select-btn {
    width: calc(62% - 10px);
}

#e-trg-select-btn,
#a-trg-select-btn {
    margin: 10px 0 0 0;
}

.eeg-trg-run-btn {
    margin: 0;
    font-size: 16px;
    background: #ccc;
    border-radius: 4px;
    width: 19%;
    height: 100%;
    transition: all 0.3s ease-out;
    outline: 0;
    border: 0;
    display: inline-block;
    position: relative;
    color: #404040;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.filename-td {
    width: 24%;
}

.msg-td {
    width: 35%;
}

.file-path-td {
    width: 38%;
    word-break: break-all;
}

.tool-description-p {
    font-weight: 500;
    margin: 4px 0 0 0;
    font-size: 15px;
}

.secondary-input-container {
    margin: 0 8px 0 0;
    vertical-align: top;
    background: #e87e04;
    display: inline-block;
    height: 100%;
    width: 17%;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.secondary-input-label {
    letter-spacing: 1.5px;
    display: inline-block;
}

#window-input-label {
    margin: 5px 11px 3px 11px;
}

#stats-input-label {
    margin: 5px 26px 3px 27px;
}

#patient-input-label {
    margin: 5px 23px 3px 22px;
}

.secondary-input-sublabel {
    margin: 2px 12px;
    font-size: 12px;
    display: inline-block;
}

.secondary-input-field {
    color: #404040;
    outline: 0;
    border-radius: 4px;
    background: white;
    width: 90%;
    padding: 10px;
    margin: 6px;
}

#chunk-size {
    position: relative;
    border: solid 2px #ccc;
    color: #404040;
    padding: 10px;
    border-radius: 4px;
    background: white;
    width: 100px;
    font-size: 18px;
    float: right;
    transform: translateY(-45px);
}

#chunk-size-sublabel {
    letter-spacing: 1px;
    display: block;
    clear: left;
    font-size: 15px;
}

.compute-file-select,
.combine-file-select {
    word-break: break-word;
    padding: 8px;
    transition: all 0.2s ease-out;
    display: block;
    float: left;
    outline: 0;
    height: 100%;
    letter-spacing: 2px;
    color: white;
    width: calc(62% - 10px);
    background: #e87e04;
    border: 0;
    cursor: pointer;
    margin: 0 12px 0 0;
    border-radius: 4px;
    font-size: 16px;
    overflow-y: auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
}

.compute-file-select:hover,
.combine-file-select:hover {
    transform: translateY(-2px);
}

#memory {
    border-radius: 7px 4px 4px 7px;
    align-items: center;
    height: 16px;
    display: inline-block;
    width: 110px;
    background: white;
    position: absolute;
    right: 13px;
    top: 8.4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.16), 0 2px 4px rgba(0,0,0,0.23);
}

.tool-label {
    text-align: center;
    line-height: 11px;
    border-radius: 4px;
    left: 2px;
    position: absolute;
    height: 17px;
    top: 2px;
}

#tool-label-summarize,
#tool-label-timing,
#tool-label-availability {
    width: 93px;
    background: cadetblue;
}

#tool-label-convert {
    width: 128px;
    background: mediumslateblue;
}

#tool-label-compute {
    width: 135px;
    background: yellowgreen;
}

#tool-label-classify {
    width: 106px;
    background: #cc8e35;
}

#tool-label-validate,
#tool-label-extract,
#tool-label-combine {
    width: 118px;
    background: indianred;
}

.tool-label-name {
    margin: 0 0 0 1px;
    text-align: center;
    color: white;
    font-size: 9px;
    font-weight: bold;
    letter-spacing: 2px;
}


#memory-usage {
    transition: width 300ms ease-out;
    border-radius: 5px 0 0 5px;
    position: relative;
    background: rgb(232, 126, 4);
    height: 100%;
    width: 80%;
    display: inline-block;
}

#memory-usage-perc {
    cursor: context-menu;
    z-index: 200;
    position: absolute;
    height: 100%;
    font-size: 11px;
    margin: 0 0 0 4px;
    line-height: 15px;
    color: #404040;
    transition: all 0.2s ease-out;
}

#direct-tool-instruction {
    text-align: center;
}

#tool-summary {
    font-weight: 500;
    letter-spacing: 1px;
    border: 4px solid #e87e04;
    float: right;
    background: #f89406;
    display: table;
    color: #404040;
    margin: -2px -10px 5px 5px;
    border-radius: 4px;
    font-size: 14px;
}

#tool-summary div {
    display: table-row;
}

#tool-summary div div {
    display: table-cell;
    padding: 5px 10px;
}

#tool-summary div div:last-of-type {
    text-align: right;
}